.black-text {
  color: black !important;
}

a {
  color: yellow !important;
}

a:hover {
  text-decoration:underline;
}

.App {

  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.department-header {
  margin-top: 1em;
  width:10em;
  border-bottom: 5px solid white;
}

.center {
  text-align: center;
}

.red {
  color: red;
}
.green-bg {
  color: green;
}
.blue-bg {
  background-color: blue;
}

.black {
  background-color: black;
}



.dark-bg {
  background-color: #343a40 !important;
}

body, html {
  height: 100% !important;
}

body {
  background-color: #c0c0c0;
}

/* Facebook Button */
.facebookBtn {
  font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: .5em auto;
  padding: 10px .5em;
  background-color: #3A5A97;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,20,.4);
  text-decoration: none;
  width: 10em;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.facebookBtn:hover {
  border-color: #2e4878;
  background-color: #2e4878;
}

.facebookBtn img {
  height: 45px;
  margin-left: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Google Button */
.googleBtn {
  border-radius: .25rem;
  border: 1px solid transparent;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  width: 10em;
  margin: .5em auto;
  padding: 9px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.googleBtn:hover {
  border-color: rgb(115, 115, 115);
  background-color: rgb(115, 115, 115);
  
}

.googleBtn img {
  height: 50px;
  width: 50px;
}

.literata {
  font-family: 'Literata', serif;
}

.movie-page-header {
  font-family: 'Literata', serif;
  margin-bottom: 1em;
}

.similar-movie {
  text-align: center;
}

.carousel-title {
  color: white;
  text-decoration-color: white;
}

.poster-column{
  display: flex;
  align-items: center ;
  justify-content: center;;
}

.pwResetLink {
  color: lightgray !important;
 
  text-align: center;
}

.return-link {
  margin-top: 1em !important;
  margin-bottom: 1em;
}

.navbar{
  background-color: black;
}

.suggestion-poster {
  height: 8%;
  width: 8%;
  margin-right: 1em;
}

#movie-overview {
  font-size: .75em;
}

.movie-page-poster {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.wrapper {
  background-color: #343a40;
}

.emailSignin {
  margin-top:2em;
  margin-bottom: .5em;
}

/* styling for modals */

.comment-delete-button {
  margin-right: 2em !important;
}

.login-modal-footer {
  justify-content: space-evenly;
}

.login-modal-footer p {
  margin: 0;
}

.modal-content{
  background-color: #343a40 !important;
  color: white !important;
}

.modal-content .close {
  color: white !important;
}

.user-dropdown {
  color: black;
  background-color:white;
}