a {
  color: yellow !important;
}

a:hover {
  text-decoration:underline;
}

.App {
  
  color: white;
}

.app-logo {
  font-family: 'Literata', serif;
  text-decoration: none !important;
  color: white !important;
}

.app-logo:hover {
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.department-header {
  margin-top: 1em;
  width:10em;
  border-bottom: 5px solid white;
}

.center {
  text-align: center;
}





.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.black-text {
  color: black !important;
}

.dark-bg {
  background-color: #343a40 !important;
}

body, html {
  height: 100% !important;
}

body {
  background-color: #c0c0c0;
}

.literata {
  font-family: 'Literata', serif;
}

.movie-page-header {
  font-family: 'Literata', serif;
  margin-bottom: 1em;
}

.similar-movie {
  text-align: center;
}

.carousel-title {
  color: white;
  text-decoration-color: white;
}

.poster-column{
  display: flex;
  align-items: center ;
  justify-content: center;;
}

.return-link {
  margin-top: 1em !important;
  margin-bottom: 1em;
}

/* .searchbar {
  width: 50em;
} */

.navbar{
  background-color: black;
}



.suggestion-poster {
  height: 8%;
  width: 8%;
  margin-right: 1em;
}

#movie-overview {
  font-size: .75em;
}

.movie-page-poster {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.wrapper {

  background-color: #343a40;
}

/* styling for modals */

.comment-delete-button {
  margin-right: 2em !important;
}

.login-modal-footer {
  justify-content: space-evenly;
}

.login-modal-footer p {
  margin: 0;
}

.modal-content{
  background-color: #343a40 !important;
  color: white !important;
}

.modal-content .close {
  color: white !important;
}

.user-dropdown {
  color: black;
  background-color:white;
}