.app-logo {
  font-family: 'Literata', serif;
  text-decoration: none;
  color: white;
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.movie-page-header {
  font-family: 'Literata', serif;
}

.literata {
  font-family: 'Literata', serif;
}

.similar-movie {
  text-align: center;
}

.carousel-title {
  color: white;
  text-decoration-color: white;
}