.result-overview {
    color: white;
}

.results-item {
    background-color: #343a40;
    border: 0px;
}

.search-result-poster {
    width: 92px;
    height: 138px;
}


#more-results-button {
    margin-bottom: 1em;
    margin-top: 1em;
}