.article-preview {
    margin-top: 1em;
    width:100%;
    border-bottom: 1px solid white;
    padding-bottom: 1em;
}

.article-preview i {
    color: lightgrey;
    font-size: 14px;
}

.article-preview a {
    margin-bottom: 1em;
    text-align: center !important;
}

.article-preview h2 {
    margin-top: -4px;
    
    
}

.article-preview h2:hover {
    
    cursor: pointer;
    color: yellow;
    text-decoration: underline;
}




.read-more {
    text-align: center;
}