
/* Add a gradient to the image */
.carousel-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent 0%, black 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';

}

h3, h2, h1 {
  font-family: 'literata', 'serif';
}

h3 {
  text-align:center;
}

ol li:marker {
  font-family: 'literata', 'serif';
}

.jumbotron {
  border-radius: 0px !important;
  padding-top: 5px;
  color: white;
  display: block;
  position: relative;
}

.jumbotron h1 {
  padding-top: 40px;
}

.jumbotron:hover {
  cursor:pointer;
}


/* NAVIGATION BAR */

.app-logo {
  font-family: 'Literata', serif;
  font-size: 1.5em;
  text-decoration: none !important;
  color: white !important;
}

.app-logo:hover {
  color: white;
}

.bar-item {
  width: 10%;
}

.dropdown {
  text-align: right;

}

/* .mobile-search {
  margin-left:10em;
} */

#kino-nav {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.navbar-brand {
  padding: 0px;
}

/* lg */
@media screen and (max-width: 1199px) {
  .bar-item {
      width: 20%;
  }

}


@media screen and (min-width: 992px) {
  .bar-item {
      width: 20%;
  }

}

/* md */
@media screen and (min-width: 768px) {
  .bar-item {
    width: 30%;
  }
}


/* sm */
@media screen and (min-width: 576px) {
  .bar-item {
    width: 40%;
  }
}


/* xs  */
@media screen and (max-width: 575px) {
  .bar-item {
    width: 40%;
  }
} 