.signup {
    
    align-items: center;
    
}

.signup-form {
    margin-top: 5em;
    padding: 1em;
    border-radius: .5em;
    border: 1px solid white;
}

.signup-form button {
    margin-top: 3em;
}