.searchbar-input {
    /* width:calc(660px - 200px) !important; */
    /* width:660px !important; */
    /* flex-grow: 1 !important; */
}

.searchbar-item {
    background-color: black !important;
    border:1px solid gray;
}

.searchbar-item:hover {
    cursor: pointer;
    background-color: gray !important;
}

.suggestion-font {
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
  }

.login-modal .modal-content{
    background-color: #343a40 !important;
}

.login-modal {
    color: white !important;
}

.login-modal .close {
    color: white !important;
}