.comment-card {
    background-color:#343a40;
    /* border: 1px solid white; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment-card .card-header {
    background-color: gray;
    border-bottom: none;
}

.patrIcon:hover {
    color:green;
    border: 1px solid green;
    background-color: darkgreen;
}

.upvoted {
    color:green;
    border: 1px solid green;
    background-color: darkgreen;
}

.downvoted {
    color: red;
    border: 1px solid red;
    background-color: darkred;
}

.plebIcon:hover {
    color: red;
    border: 1px solid red;
    background-color: darkred;
}

.patrIcon, .plebIcon {
    padding: .1em;
    border-radius: .25em;
  }

.patrIcon:hover, .plebIcon:hover {
  cursor: pointer;
}

.comment-footer {
    padding: 1em 1em .5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: .75rem;
    color: lightgrey
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
}

.comment-vote {
    display:flex;
    justify-content: space-between;
    width: 8em;
}

.delete-icon:hover {
    color:red;
    cursor: pointer;
}


