
.active {
    border-color: #343A40 !important;
    border-bottom: 0px !important;
    border-top: none !important;
    background-color: black !important;
}

.bold {
    font-weight: bold !important;
}

.comment-submit {
    text-align: right;
}

.discussion {

    border-radius: .25rem;
    margin-bottom: 1em;
}

.discussion .nav-tabs {
    border-bottom: 1px solid #343A40;
    border-left: 0px solid;
    border-top: none;
}

.tab-content {
    background-color: Black;
}

.reviewButton {
    color: black;
    border-radius: .25rem;
}

.comment-stack {
    margin-top: 1.5em;
    border-top: solid white 1px;
}

.comment-stack .dropdown-toggle {
    margin-top: 1em;
}

.modal-opener {
    color: yellow;
    
}

.modal-opener:hover {
    text-decoration: underline;
    cursor: pointer;
}

.please-signin {
    padding: 1em;
    background-color:#343a40;
    /* border: 1px solid white; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.rating-control {
    background-color: gray;
    border: grey;
    color: white;
}

.tab-content {
    margin-top: 1em;
}

