
.active {
    border-color: #343A40 !important;
    border-bottom: 0px !important;
    border-top: none !important;
    background-color: black !important;
}

.comment-submit {
    text-align: right;
}

.comment-footer {
    padding: 1em 1em .5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: .75rem;
    color: lightgrey
}

.comment-footer i {
    
}

.comment-vote {
    display:flex;
    justify-content: space-between;
    width: 8em;
}

.discussion {

    border-radius: .25rem;
    margin-bottom: 1em;
}

.discussion .nav-tabs {
    border-bottom: 1px solid #343A40;
    border-left: 0px solid;
    border-top: none;
}

.tab-content {
    background-color: Black;
}

.reviewButton {
    color: black;
    border-radius: .25rem;
}

.comment-stack {
    margin-top:2em;
}

.comment-card {
    background-color:#343a40;
    /* border: 1px solid white; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment-card .card-header {
    background-color: gray;
    border-bottom: none;
}

.patrIcon:hover {
    color:green;
    border: 1px solid green;
    background-color: darkgreen;
}

.upvoted {
    color:green;
    border: 1px solid green;
    background-color: darkgreen;
}

.downvoted {
    color: red;
    border: 1px solid red;
    background-color: darkred;
}

.plebIcon:hover {
    color: red;
    border: 1px solid red;
    background-color: darkred;
}

.patrIcon, .plebIcon {
    padding: .1em;
    border-radius: .25em;
  }

.patrIcon:hover, .plebIcon:hover {
  cursor: pointer;
}

.please-signin {
    padding: 1em;
    background-color:#343a40;
    /* border: 1px solid white; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.tab-content {
    margin-top: 1em;
}

